.footer {
    a {
        color: $onlyColor;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    &__top, &__bottom {
        &-content {
            color: $white;
            &-intro {
                margin-bottom: 1em;
            }
        }
    }

    &__top {
        background-color: $black;
    }

    &__bottom {
        background-color: $grey3;
    }
}
