body {
    border-top: 12px solid $onlyColor;
}

.header {
    color: $grey3;
    &__content {
        h1, h2 {
            font-size: 3em;
            color: $grey3;
            a {
                text-decoration: none;
                color: $grey3;
                &:hover {
                    transition: color 2s ease;
                    color: $onlyColor;
                }
            }
        }

        h1, h2 {
            line-height: 1.05em;
        }

        p {
            line-height: 1.10em;
            font-size: 2em;
            color: $grey2;
            margin: 0;
        }
    }
}
