body {
    border-top: 12px solid $line;
}

.header {
    color: $grey3;
    padding: $desktopPadding;
    @include breakpoint($xs) {
        padding: $mobilePadding;
    }

    &__content {
        font-size: 1.25em;
        h1, h2 {
            font-size: 3em;
            color: $grey3;
        }

        h1, h2 {
            line-height: 1.05em;
        }

        p {
            line-height: 1.10em;
            font-size: 2em;
            color: $grey2;
            margin: 0;
        }
    }
}
