.loop {
    &__header {
        margin-bottom: 2em;
        h1 {
            line-height: 1.10em;
            color: $grey1;
            @include breakpoint($xs) {

            }
        }
    }

    &__post {
        margin-bottom: 3em;
        &-date {
            color: $grey1;
            margin-bottom: 0.333em;
            font-weight: bold;
        }
        &-title {
            font-size: 2em;
            line-height: 1.10em;
            a {
                color: $onlyColor;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &-excerpt {
            color: $grey3;
            a {
                color: $onlyColor;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &__meta {
            font-size: 0.666em;
            line-height: 1.25em;
            text-transform: uppercase;
            &-categories, &-tags {
                color: $grey2;
            }
            a {
                color: $grey1;
                text-decoration: none;
                font-weight: bold;
                &:hover {
                    text-decoration: underline;
                    color: $onlyColor;
                }
            }
        }
    }
}
