// colors
$white: #ffffff;
$grey1: #bfbfbf;
$grey2: #7f7f7f;
$grey3: #404040;
$black: #000000;
// from: https://www.w3schools.com/colors/colors_crayola.asp
$onlyColor: #FA5B3D;
// padding
$desktopPadding: 2.8em;
$mobilePadding: 1.4em;

// mobile mixins: https://medium.com/developing-with-sass/refactoring-my-simple-sass-breakpoint-mixin-71205dd6badd
$xs: ( max:  767px );
$sm: ( min:  768px );
$md: ( min:  992px );
$lg: ( min: 1200px );
$sm-only: ( min: map-get($sm, min), max: map-get($md, min) - 1 );
$md-only: ( min: map-get($md, min), max: map-get($lg, min) - 1 );

@mixin breakpoint($map) {
  $query: "";
  @if map-has-key($map, min) { $query: append($query, "(min-width: #{map-get($map, min)})") }
  @if map-has-key($map, min) and map-has-key($map, max) { $query: append($query, "and") }
  @if map-has-key($map, max) { $query: append($query, "(max-width: #{map-get($map, max)})") }
  @media screen and #{$query} { @content; }
}
