@import "normalize";
@import "fonts";
@import "variables";
@import "header";
@import "loop";
@import "nav";
@import "post";
@import "footer";

* {
    outline: none;
}

.serif {
    font-family: 'Calluna-Regular', georgia, times;
}

.sans {
    font-family: 'CallunaSansRegular', arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Calluna-Regular', georgia, times;
    margin: 0;
}

body {
    line-height: 2em;
}


// wrapper
.wrapper {
    padding: $desktopPadding;
    @include breakpoint($xs) {
        padding: $mobilePadding;
    }

    // content
    .content {
        margin: 0 auto;
        max-width: 50em;
        font-size: 1.25em;
    }
}

// cookie law banner
#eu-cookie-law {
    position: fixed !important;
    bottom: 10px !important;
    margin: 0 !important;
    width: 100% !important;
    padding: 10px !important;
    left: 10px !important;
    right: 10px !important;
    font-family: 'CallunaSansRegular', arial, sans-serif;
}
