@import "normalize";
@import "fonts";
@import "colors";
@import "footer";

* {
    outline: none;
}

.serif {
    font-family: 'Calluna-Regular', georgia, times;
}

.sans {
    font-family: 'CallunaSansRegular', arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Calluna-Regular', georgia, times;
    margin: 0;
}

body {
    line-height: 2em;
}
